<!--The content below is only a placeholder and can be replaced.-->

<nav class="topnav">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="about">About</a></li>
    </ul>
</nav>
<div class="topnav">
  <a class="active" routerLink="home" >Home</a>
  <a routerLink="home">News</a>
  <a routerLink="home">Contact</a>
  <a routerLink="about">About</a>
</div>
<h2>kamta124599685</h2>
<div>
  <button (click)="getBooks()">Load Data</button>
  <div >
    {{ data | json }}
  </div>
  <!-- <div *ngFor="let book of data | async">
    {{ book | json }}
  </div> -->
</div>

<router-outlet></router-outlet>
<!-- <app-about></app-about> -->
<!-- <app-home></app-home> -->
